<main>
    <h1>Sistema de Gestão de Clientes</h1>
    <div class="container" style="height: 60vh">
        <img src="img/home.svg" alt="" style="height: 400px" />
    </div>
    <div class="container" style="height: 18vh">
            <a class="btn btn-primary" href="/cadastro" role="button">IR PARA O CADASTRO</a>
    <a class="btn btn-primary" href="/listar" role="button">IR PARA O LISTAGEM</a>
    </div>

</main> 